* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h2.photographer-location {
  color: #901c1c;
  font-weight: lighter;
}

.logo-photographes {
  height: 2.2rem;
  margin-top: 15px;
  margin-left: 90px;
}

#contact_modal {
  display: none;
}

#media-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.media-item-container {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-inline: auto;
}

#media-container img,
#media-container video {
  width: 300px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 5px;
}

#media-container img:hover,
#media-container video:hover,
#media-container img:focus,
#media-container video:focus {
  transform: scale(1.3);
}

.cards-media-footer {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: left;
  color: #901c1c;
}

.like {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  font-size: 13px;

  color: #d3573c;
}

.like-count {
  font-size: 1rem;
  margin-right: 15px;
  color: #901c1c;
}

.heart-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  color: #901c1c;
  cursor: pointer;
}

.hearted {
  animation: heartBeat 0.3s;
  animation-iteration-count: 3;
  fill: #901c1c;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.hearted path {
  color: #901c1c;
}

.heart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  color: gray;
}

.heart::before {
  content: "♥";
}

.photograph-media {
  top: 300px;
  position: absolute;
}

.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 90px;
  row-gap: 15px;
  margin-top: 50px;
}

.media-grid article .thumbnail-container {
  cursor: pointer;
  transition: transform 300ms;
}

.media-grid article .thumbnail-container:hover,
.media-grid article .thumbnail-container:focus {
  transform: scale(1.05);
}

#media-container img:last-child,
#media-container video:last-child {
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.photograph-header {
  width: 88%;
  max-width: 1440px;
  background-color: #fafafa;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.photographer-details {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.photographer-name {
  color: #d3573c;
  margin-right: 35px;
  font-size: 1.8rem;
  margin-top: 35px;
}

.photograph-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 25%;
  right: 5%;
  cursor: pointer;
}

.contact_button {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 11px;
  min-width: 170px;
  min-height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus-visible {
  background-color: #d3573c;
}

/* Arrière-plan grisé */
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  border-radius: 5px;
  width: 50%;
  padding: 35px;
  height: auto;
  max-width: 380px;
}

#contact_modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#contact_modal header h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  font-weight: lighter;
}

#contact_modal header p {
  font-size: 1.6em;
  margin: 5px;
  margin-left: 16px;
  font-weight: lighter;
}

#contact_modal header button {
  cursor: pointer;
  background: none;
  border: none;
}

.modal-header-content {
  width: 100%;
}

#contact_modal header button img {
  width: 24px;
  height: 24px;
  margin-bottom: 40px;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  color: #312e2e;
  font-size: 1.4em;
  margin-left: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 26px;
}

#labelTri {
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
}

form input,
form textarea {
  width: 90%;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: -20px;
  margin-left: 16px;
}

form textarea {
  height: 120px;
  padding-top: 10px;
  font-size: 1em;
}

button.contact_button {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 11px;
  min-width: 170px;
  min-height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

button.contact_button:hover,
button.contact_button:focus-visible {
  background-color: #d3573c;
}

.errorField {
  font-size: 1em;
  color: black;
  display: block;
  margin-bottom: -15px;
  text-align: left;
  transition: 0.2s;
}

footer {
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#priceLikes {
  display: flex;
  gap: 10px;
  align-items: center;
}

#priceLikes .combined-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  background-color: #db8876;
  padding: 5px 10px;
  color: #030000;
  font-size: 1.2rem;
  margin-right: 20px;
}

#priceLikes .heart-icon {
  fill: #312e2e;
  stroke: #000;
  stroke-width: 1;
  margin-left: 5px;
}

.daily-price {
  font-size: 14px;
  margin-right: 5px;
}

.total-likes {
  color: #000;
}

/* Styles pour la section photograph-media */
.photograph-media {
  border-radius: 8px;
}

/* Styles pour la grille de médias */
.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.media-grid div {
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #ffffff;
  /* La couleur du texte des éléments de la grille est blanche */
}

/* Arrière-plan grisé */
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #db8876;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 100%;
}

.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content .form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.contact_button {
  padding: 10px 20px;
  background-color: #0055ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #003bb5;
}

/*  menu tri */
.menuFilter {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: fit-content;
}

.menuFilter label {
  font-weight: 700;
  font-size: 1.1em;
  padding-top: 30px;
}

/* Éléments de la liste de tri */
ul {
  list-style-type: none;
  width: fit-content;
  margin: 0;
  background-color: #901c1c;
  border-radius: 5px;
  min-width: 150px;
  padding: 0px 10px;
  margin-top: 16px;
  height: fit-content;
  user-select: none;
  position: relative;
  z-index: 10;
}

li {
  display: block;
}

.listButton {
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.1em;
  color: white;
  padding: 10px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.arrows {
  position: absolute;
  right: -5px;
  z-index: 100;
  top: 18px;
}

span#arrowDown,
span#arrowUp {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
}

#arrowDown i,
#arrowUp i {
  cursor: pointer;
}

/* pour afficher les 2 lignes blanches du menu */
#listFilters li:nth-child(2),
#listFilters li:nth-child(3) {
  border-top: solid 1px white;
}

span#arrowDown,
span#arrowUp {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
}

/* Gestion de l'affichage des éléments (flèches et boutons) */

.hidden {
  display: none;
}

.visible {
  display: block;
}

.photographer-img {
  position: relative;
  z-index: 1;
  /* Plus bas que le menu déroulant */
}

.send_button {
  background-color: #901c1c;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  margin-top: -15px;
  width: 30%;
  align-self: flex-start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
}

/* Styles pour le lightbox */
#lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fffffb;
}

#contentLightbox {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.lightboxIcon {
  color: #901c1c;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 55px;
  width: 35px;
  padding: 0;
}

.lightbox-image {
  display: block;
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
}

.lightbox-paragraphe {
  color: #d3573c;
}

#previousMedia {
  left: calc(47% - 320px);
  font-size: 9px;
}

#nextMedia {
  font-size: 9px;
  font-weight: lighter;
}

#closeLightbox {
  position: absolute;
  top: 0;
  right: 0;
  transform: none;
  font-size: 9px;
}

.lightbox-video {
  display: block;
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
}

#lightbox.displayMedia {
  display: flex;
}

/* Styles existants pour le conteneur des médias */
#media-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

@media (max-width: 1024px) {
  #media-container {
    grid-template-columns: 1fr 1fr;
    /* 1 colonne pour les tablettes */
  }
  #media-container img,
  #media-container video {
    width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
    margin-top: 2rem; /* Encore moins d'espace au-dessus sur les petits écrans */
  }

  .cards-media-footer {
    font-size: 0.9rem;
    /* Réduire la taille de la police pour mieux tenir sur les petits écrans */
  }
  .description {
    margin-left: -5px;
  }

  .like {
    margin-right: -5px;
  }
  .daily-price {
    margin-left: 10px;
  }
}

/* Media queries pour les petits écrans */
@media screen and (max-width: 768px) {
  .logo-photographes {
    margin-left: -35px;
  }
  #media-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
  }

  .media-item-container {
    margin-bottom: 20px;
  }
  #media-container img,
  #media-container video {
    width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
    margin-top: 2rem; /* Encore moins d'espace au-dessus sur les petits écrans */
  }
  .photographer-name {
    margin-right: 99px;
    font-size: 1.5rem;
  }

  .cards-media-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  .photograph-header {
    padding: 15px;
  }
  .photograph-header img {
    width: 120px;
    height: 120px;
    top: 10%;
  }
}

button.contact_button {
  margin-top: 120px;
}

.daily-price {
  margin-left: 10px;
}
#contact_modal header button img {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (max-width: 630px) {
  #media-container {
    grid-template-columns: 1fr;
    margin-top: 35px;
  }
  .media-item-container {
    max-width: 280px;
  }
}

/* Media queries pour les très petits écrans */
@media screen and (max-width: 480px) {
  .photograph-header {
    padding: 15px;
  }

  .photographer-name {
    font-size: 1rem;
  }

  .photographer-details {
    margin-top: auto;
    margin-left: 0;
  }

  h2.photographer-location {
    font-size: 1rem;
  }

  .photographer-tagline {
    font-size: 0.8rem;
  }

  button.contact_button {
    margin-top: 120px;
    min-width: 20px;
    min-height: 50px;
  }

  #contact_modal {
    width: 95%;
    padding: 15px;
  }

  /* Alignement et couleur pour description maintenus */

  .like {
    margin-right: -12px;
  }

  .logo-photographes {
    height: 2.2rem;
    margin-top: 15px;
  }

  .photograph-header img {
    width: 90px;
    height: 90px;
    top: 10%;
  }

  #media-container img,
  #media-container video {
    width: 100%; /* Toujours à 100% mais pour très petits écrans (smartphones) */
    margin-top: 1rem; /* Réduction encore plus grande de l'espace */
  }
  .description {
    margin-left: -15px;
  }

  .like {
    margin-right: -12px;
  }
  .daily-price {
    margin-left: 10px;
  }
  #contact_modal header button img {
    position: absolute;
    right: 0;
    top: 20px;
  }
}