@import url("photographer.css");

body {
    width: auto;
    font-family: "DM Sans", sans-serif;
    max-width: 1440px;
    margin:  auto;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}

h1 {
    color: #d3573c;
    margin-right: 35px;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 35px;
   
}
.logo {
    height: 2.2rem;
    margin-left: 35px;
    margin-top: 15px;
    margin-left: 70px;
    
}


.logo:hover {
    transform: scale(1.08);
}



.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 30px;
    margin-bottom: 10px;
    
}

.photographer_section article img {
    height: 14rem;
    width: 14rem;
    border-radius: 8rem;
    overflow: hidden; 
    margin: auto;
    object-fit: cover; /* Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage */
    box-shadow: 0 4px 12px rgb(170, 168, 168);
}
.photographer_section article img:hover {
    transform: scale(1.08)
}

h3 { 
    color: #901C1C;
    font-size: 1rem;
    font-weight:lighter;
    margin-top: 1px;
 }
 p.pricing{ 
    color: #757575;
    margin-top: -12px;
    font-size: 0.7rem;
    font-weight: lighter;
    
 }
 p.tagline{ 
    margin-top: -15px;
    font-weight:500;
    
}
.photographer_section a { 
    text-decoration: none;
    color: inherit;
}